@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}
.container{
    border-radius: 50px;
    border: #4f3cccd0 20px;
    border-style: ridge;
    width: 764px;
    height: 403px;
    display: flex;
    overflow: hidden;
    background-image: url("img/game_bg.jpg");
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.punch{
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    padding: 100px;
    cursor: pointer;
}
.punch:active{
    filter: brightness(50%) drop-shadow(10px 10px 30px rgb(95, 4, 4));
    /* filter:  drop-shadow(20px 10px 10px rgb(65, 2, 2)); */
    bottom: 30px;
}
.count{
    position: static;
    font-size: 25px;
    color: rgb(187, 193, 248);
    font-family: 'Gugi', cursive;
    margin-bottom: 3px;
}
.result{
    position: static;
    font-size: 18px;
    color: white;
}